@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    width: 100vw;
    height: 100vh;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 800px;
    padding: 30px;
    background-color: var(--orange);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.txt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea {
    height: 200px;
    width: 600px;
    margin-top: 20px;
    border: none;
    border-radius: 30px;
    resize: none;
    opacity: 0.5;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

textarea:focus {
    outline: none;
}

.bttn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

button {
    border: none;
    margin: 15px;
    padding: 20px;
    border-radius: 20px;
    color: #000;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}

#cript-bttn {
    background-color: var(--grey);
}

#cript-bttn:hover {
    background-color: var(--yellow);
    transition: 1s;
}

#descript-bttn {
    background-color: var(--yellow);
}

#descript-bttn:hover {
    background-color: var(--grey);
    transition: 1s;
}

#copy-bttn {
    background-color: var(--grey);
    width: 80px;
    height: 80px;
}

#copy-bttn img, #delete-bttn img {
    width: 100%;
    height: 100%;
}


#delete-bttn {
    background-color: var(--grey);
    width: 80px;
    height: 80px;
}

.output-container {
    margin-top: 30px;
    opacity: 0.5;
    background-color: var(--yellow);
    padding: 20px;
    text-align: center;
    font-size: 18px;
    height: 200px;
    width: 600px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}